body{
margin:0;
font-family:Segoe UI,sans-serif;
background:#0f172a;
color:white;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;

background:
linear-gradient(
135deg,
#0f172a,
#1e3a8a,
#2563eb
);
}

.hero h1{
font-size:4rem;
margin-bottom:10px;
}

.hero p{
font-size:1.3rem;
}

button{
padding:15px 30px;
margin-top:20px;
border:none;
border-radius:50px;
background:#f97316;
color:white;
font-size:1rem;
cursor:pointer;
}

.cards{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:25px;
padding:40px;
}

.card{
background:white;
color:black;
width:250px;
padding:25px;
border-radius:15px;
text-align:center;

transition:.3s;
}

.card:hover{
transform:
translateY(-10px)
scale(1.05);
}

.card i{
font-size:40px;
color:#2563eb;
}

.architecture{
padding:50px;
text-align:center;
}

.flow{
font-size:1.5rem;
line-height:60px;
}

.stats{
display:flex;
justify-content:center;
gap:40px;
padding:60px;
}

.stat{
text-align:center;
}

.stat h3{
font-size:3rem;
color:#f97316;
}

footer{
text-align:center;
padding:30px;
background:#020617;
}

.floating-cloud{
position:absolute;
font-size:50px;
animation:float 8s infinite;
}

.cloud1{
top:20%;
left:10%;
}

.cloud2{
top:30%;
right:10%;
}

@keyframes float{

0%{
transform:translateY(0);
}

50%{
transform:translateY(-20px);
}

100%{
transform:translateY(0);
}

}